@model Error

<div class="container-fluid">
    <br />
    <div class="row">
        <img class="img-responsive" src="~/images/Error.png" alt="Error" style="max-width:60%;display:block;margin:auto" />
    </div>
    <div class="row">
        <h4 class="text-center">No fue posible realizar la acción</h4>
        <h5 class="text-center">@Model.ErrorMessage</h5>
        <h5 class="text-center">Cod.: @Model.ErrorCode</h5>
    </div>
    <br />
    <br />
    <a asp-action="index"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
</div>
