@{
    ViewData["Title"] = "Buscar";
}

@model DisplayInitial
<br />
<br />
<div class="container-fluid">
    <div class="row">
        <form asp-action="SearchCodbar">
            <div class="form-group-lg">
                <label  class="control-label text-center col-xs-12">
                    Codbar
                </label>
                <br />
                <input  class="form-control" asp-for="Codbar" />
            </div>
        </form>
            @Html.Partial("_NetworkStatus", Model);
    </div>
    
</div>
