
@{
    ViewData["Title"] = "SearchCodbar";
}

@model DisplayInitial

<div class="container-fluid">
    <br />
    <br />
    <div class="row">
        <div class="col-xs-6"><h5 class="text-right">Garrón: </h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.GarronNro</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-6"><h5 class="text-right">Tropa: </h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.TropaNro</h5></div>
    </div>
    <div class="row">
        <div class="col-xs-6"><h5 class="text-right">Raza: </h5></div>
        <div class="col-xs-6"><h5 class="text-left">@Model.repository.Calificacion</h5></div>
    </div>
    <div class="row">
        <form >

        </form>
    </div>
    @Html.Partial("_NetworkStatus", Model);
</div>


