<div class="container-fluid">
    <div class="row">
        ´<div class="col-xs-12">
            <img class="img-responsive" src="~/images/Success.gif" alt="La acción se realizó con éxito" />
        </div>
    </div>
</div>
<script>
    function reload() {
        location.href = "index";
        }
        setInterval('reload()',2000)
</script>

