
<div class="container-fluid">
    <br />
    <br />
    <div class="row">
        <img src="~/images/Error.png" alt="Error" />
    </div>
    <div class="row">
        <h1>No fue posible realizar la acción</h1>
        <h3>Error: @ViewBag.Error</h3>
    </div>
        
</div>
