
<div class="container-fluid">
    <br />
    <br />
    <div class="row">
        <img class="img-responsive" src="~/images/Error.png" alt="Error" />
    </div>
    <div class="row">
        <h3 class="text-center">No fue posible realizar la acción</h3>
        <h3 class="text-center">@ViewBag.Error</h3>
    </div>
    <br />
    <br />
    <a asp-action="index"><span class="glyphicon glyphicon-arrow-left"></span> Volver</a>
</div>
