<div class="container-fluid">
    <div class="row">
        ´<div class="col-xs-12">
            <img src="~/images/Success.gif" alt="La acción se realizó con éxito" />
        </div>
    </div>
</div>
